name: CI
on:
  workflow_call:
    inputs:
      path-prefix:
        description: Sets the PATH_PREFIX environment variable for the deploy-docs.sh script.
        type: string
        required: true
      version:
        description: Sets the VERSION environment variable for the deploy-docs.sh script.
        type: string
        default: '1.0'
      production-refs:
        description: Git references for which to set the PRODUCTION environment variable for the deploy-docs.sh script.
        type: string
        default: '[]'
      linkcheck:
        description: Whether to run `make linkcheck` from Sphinx.
        type: boolean
        default: true
      pytest-options:
        description: Any command-line options to `pytest`, usually '-W ignore ...'.
        type: string
    secrets:
      private-key:
        required: true
      elasticsearch-password:
        required: true
jobs:
  build:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository }}
    runs-on: ubuntu-latest
    steps:
      - name: Disable AppArmor  # https://chromium.googlesource.com/chromium/src/+/main/docs/security/apparmor-userns-restrictions.md
        run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: pip
          cache-dependency-path: '**/requirements*.txt'
      - run: pip install -r requirements.txt
      - if: ${{ github.repository == 'open-contracting/standard_profile_template' }}
        run: make update extract
      - run: make
      - if: ${{ inputs.linkcheck }}
        run: |
          make linkcheck
          find . \( -name output.json -o -name output.txt \) -exec rm -r "{}" \;
      - run: pytest -W error ${{ inputs.pytest-options }}
      # Deploy the built documentation to the staging directory.
      - if: ${{ github.event_name == 'push' }}
        uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # v2.7.0
        with:
          key: ${{ secrets.private-key }}
          known_hosts: ocp19.open-contracting.org ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGveFGTJ9yyObNGDUCUyzyFkm6Kzh3YqIt1qB7B/KU6E
      - if: ${{ github.event_name == 'push' }}
        uses: bcomnes/netrc-creds@ea8a329dd2c795ccb141d4d202abade005c6624c # v3.0.2
        with:
          machine: standard.open-contracting.org
          login: manage
          password: ${{ secrets.elasticsearch-password }}
      - if: ${{ github.event_name == 'push' && success() && github.repository != 'open-contracting/standard_profile_template' }}
        env:
          PATH_PREFIX: ${{ inputs.path-prefix }}
          PRODUCTION: ${{ startsWith(github.ref, 'refs/tags') || github.ref == 'refs/heads/latest' || contains(fromJSON(inputs.production-refs), github.ref) }}
          RELEASE: ${{ startsWith(github.ref, 'refs/tags') }}
          VERSION: '${{ inputs.version }}'
        shell: bash
        run: curl -sS https://raw.githubusercontent.com/open-contracting/deploy/main/deploy-docs.sh | bash -
