name: Lint JavaScript
on:
  workflow_call:
    inputs:
      filenames:
        description: Space-separated list of filenames to which to limit Biome.
        type: string
        default: '.'
      lockfile_path:
        description: Path to the package-lock.json file for lockfile-lint validation.
        type: string
        default: 'package-lock.json'
jobs:
  build:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0
      - run: biome ci --indent-style=space --line-width=119 ${{ inputs.filenames }}
      - if: ${{ inputs.lockfile_path != 'package-lock.json' || hashFiles('package.json') != '' }}
        run: npx lockfile-lint --path ${{ inputs.lockfile_path }} --allowed-hosts npm --validate-https
