name: Lint JavaScript
on:
  workflow_call:
    inputs:
      filenames:
        description: Space-separated list of filenames to which to limit Biome.
        type: string
        default: '.'
jobs:
  build:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13 # v2.6.0
      - run: biome ci --indent-style=space --line-width=119 ${{ inputs.filenames }}
