name: Spell-check
on:
  workflow_call:
    inputs:
      ignore:
        description: Comma-separated list of words to ignore.
        type: string
        required: true
      skip:
        description: Comma-separated list of files to skip.
        type: string
jobs:
  build:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: pip install codespell
      - run: codespell -L '${{ inputs.ignore }}' -S '${{ inputs.skip }}' .
